@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 12px;
}

html {
    font-size: 100%;
 }

#hero h1 {
    font-size: 2.25rem; 
}

.section-header{
    font-size: 2.5rem;
}

.section{
    padding-top: 10%;
    padding-bottom: 10%;
}

#footer .footer-text{
    font-size: 1.25rem;
}

#footer .card{
    width: 19rem;
}

#save-spend img{
    width: 100%;
}


/* responsive */
@media (max-width: 320px){
    #hero .hero-text{
        padding-right: 3%;
    }
    #footer .footer-text{
        font-size: 1rem;
    }
}

@media (max-width: 345px){
    #hero .hero-text{
        padding-left: 4%;
        padding-top: 10%;
    }
    #footer .footer-text{
        font-size: 1rem;
    }
}

@media (max-width: 370px){
    #footer .footer-text{
        font-size: 1rem;
    }
}

@media (min-width: 370px){
    #footer .card{
        width: 22rem;
    }
}

@media (max-width: 460px){
    #hero .hero-text{
        padding-right: 7%;
    }
}

@media (max-width: 576px){
    #projects {
        padding-left: 5%;
        padding-right: 5%;
    }
    #save-spend img{
        width: 75%;
    }
}

@media (max-width: 990px){
    #hero .hero-text{
        padding: 10%;
    }
}

@media (min-width: 1200px){
    #hero .main-container{
        padding-top: 2%
    }
}

@media (min-width: 1500px){
    #hero .main-container{
        padding-top: 3%
    }
}

@media (min-width: 1800px){
    #hero .main-container{
        padding-top: 4%
    }
}

@media (min-width: 2100px){
    #hero .main-container{
        padding-top: 5%
    }
}

/*responsive typography*/
@media (min-width: 510px){
    #hero h1 {
        /* max + ((curr vw - minvw) / (max vw - min vw)) * (max - min) */
        font-size: calc(4.25rem + (((100vw - 20rem) / (90 - 20))) * (4.75 - 4.25)); 
    }
    #hero h2 {
        font-size: calc(2.5rem + (((100vw - 20rem) / (90 - 20))) * (3 - 2.5)); 
    }
    #hero h3 {
        font-size: calc(2rem + (((100vw - 20rem) / (90 - 20))) * (2.5 - 2)); 
    }
    #hero h6{
        font-size: calc(1rem + (((100vw - 20rem) / (90 - 20))) * (1.2 - 1)); 
    }    
}

@media (max-width: 992px){
    .section-header{
        font-size: 2rem;
        margin-top: 100px;
    }

    .section{
        padding-top:0;
    }
}



body{
    background: linear-gradient(180deg, #3257A8 0%, 
        rgba(61, 0, 122, 0.06) 20.83%, rgba(50, 87, 168, 0.12) 37.5%, 
        rgba(61, 0, 122, 0.06) 75.52%, rgba(50, 87, 168, 0.33) 100%);
}

.proj{
    background: linear-gradient(180deg, rgba(50, 87, 168, 0.13) 0%, rgba(175, 45, 255, 0.02) 100%);
}
.navbar-brand h2{
    font-family: "Poppins", sans-serif;
    font-weight:700;
}

.container{
    overflow: none;
}

.navbar{
    font-family: "Poppins", sans-serif;
    font-weight:600;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #3257A8;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}

.navbar-brand{
    padding-top: 10px;
}

.navbar button{
    background: none;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom:4px;
    padding-left:14px;
    padding-right:14px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}

.navbar ul{
    justify-content: flex-end; 
    padding-right: 50px; 
    padding-bottom: 5px; 
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}


#hero .image-me img{
    width: 90%;
}

#hero h5, #hero h4, #hero h6{
    font-family: "Poppins"; 
    font-weight: 600; 
    color: #3257A8;
}

#hero h1, #hero h2, #hero h3{
    font-family: "Poppins"; 
    font-weight: 700;
    color: white;
}

#hero p{
    font-family: "Poppins";
    font-weight: 400;
    color: #3257A8;
}


#hero #dot{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 80px;
    padding-top: 10px; 
    padding-bottom: 10px;
    color: white;
}

#hero button, #footer button{
    background: none;
    border: 1.5px solid #3257A8;
    box-sizing: border-box;
    border-radius: 15px;
    color: #3257A8;
    width: 43px;
    height: 43px; 
    margin-right: 15;
}

#hero button:hover, #footer button:hover{
    background-color: #3257A8;
    color: white;
}

#about-me, #resume{
    padding-left: 10%;
    padding-right: 10%;
}

#about-me .container-2{
    font-family: "Open Sans";
    font-weight: 400;
}


.open-sans-bold{
    font-weight: 700;
}

.section-header{
    font-family: "Poppins";
    font-weight: 700;
    color: #3257A8;
}

.card{
    border-radius: 25px;
    background: linear-gradient(105.8deg, rgba(50, 87, 168, 0.3) -0.27%, rgba(61, 0, 122, 0.3) 96.11%);
}

.card-block{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 70px;
}

.exp-icon{
    width:200%;
}

.exp-title{
    font-family: "Poppins";
    font-weight: 600;
    color: black;
}

.exp-date{
    font-family: "Poppins";
    font-weight: 600;
    color: gray;
    margin-bottom: 15px;
}

.exp-text{
    font-family: "Open Sans";
    font-weight: 400;   
    color: black;
}


.skills-p{
    text-align: left; 
    font-family: "Open Sans"; 
    font-weight: 400; 
    font-size: medium;
}

.skills-head{
    display: block;
    text-align: left;
    font-family: "Open Sans"; 
    font-weight: 700; 
    font-size: larger;
}



.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}
.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to { transform: translateY(0); }
}

.blue-dot{
    background: -webkit-linear-gradient(219.81deg, #3257A8 7.58%, rgba(172, 46, 253, 0.0208333) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.grey-dot{
    color:lightgrey;
}





.vl{
    border-right: 5px solid lightgray;
    height: 500px;
    padding-right: 100px; 
}


.exp-text{
    font-family: "Open Sans";
    font-weight: 600;
    color:white;
}

.exp-text-sub{
    font-family: "Open Sans";
    font-weight: 400;
    color:white;
}

video{
    width:100%;
}

.proj-container {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.proj-container:hover .image{
    opacity: 0.3;
}

.proj-container:hover .middle {
    opacity: 1;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    font-family: "Poppins";
    font-weight: 600;
    color: white;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px;
}


/* footer */
#footer{
    background-color: #3257A8;
    color: white;
    font-family: "Open Sans";
    padding-top: 8%;
    padding-bottom: 8%;
}

/* images on project pages */
.proj-img{
    border-radius: 50px;
    border: 4px;
    border-style: solid;
    border-color: #3257A8;
    width: 100%;
    transition: .5s ease;
    background-color: black;
}

.proj-img:hover{
    opacity: 0.5;
}

.proj-page h2{
    font-family: "Poppins";
    font-weight: 700;
    color: #3257A8;
}

.proj-page p{
    font-family: "Open Sans";
}

.demos{
    margin: 3%;
}
